ul {
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    justify-content:center; 
    background-color: blue;
    color: black;
}

li {
    cursor: pointer;
    padding: 20px;
    
}

li:hover {
    background-color: white;
}
